:root {
  --section-color: #dba40a;
}
@font-face {
  font-family: "dominico";
  src: url("assets/fonts/Dominico.otf");
}
body {
  font-family: "dominico", sans-serif;
}
/* Pantalla de carga */
#loadingScreen {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--section-color); /* Puedes cambiar el color de fondo */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#loadingScreen h1{
  font-family: "dominico", sans-serif;
  text-align: center;
}
.cup {
  position: relative;
  width: 220px;
  height: 180px;
  border: 8px solid #ffefdb;
  box-shadow: 0 0 0 12px #352a22;
  border-radius: 10px 10px 60px 75px;
  background: url('assets/images/coffee.png');
  background-repeat: repeat-x;
  background-position: 0 130px;
  animation: filling 4s infinite;
  margin-bottom: 50px;
}

@keyframes filling {
  0%, 100% {
      background-position: 0 130px;
  }

  50% {
      background-position: 600px -70px;
  }
}

.cup .cup-handle {
  position: absolute;
  top: 10px;
  right: -74px;
  width: 65px;
  height: 120px;
  border: 12px solid #352a22;
  border-radius: 20px 10px 50px 20px;
}

.cup .steam {
  position: absolute;
  border-radius: 10px 2px;
  width: 8px;
  animation: steaming 2s infinite;
}

@keyframes steaming {
  0%, 100% {
      opacity: 0;
  }

  50% {
      opacity: 1;
      filter: blur(.8px);
      transform: translateY(-10px);
  }
}

.cup .steam:nth-child(1) {
  top: -70px;
  left: 65px;
  height: 30px;
  background: #8e5a3423;
  animation-delay: .2s;
}

.cup .steam:nth-child(2) {
  top: -120px;
  left: 95px;
  height: 50px;
  background: #8e5a3454;
  animation-delay: .6s;
}

.cup .steam:nth-child(3) {
  top: -90px;
  left: 125px;
  height: 40px;
  background: #8e5a3433;
  animation-delay: 1s;
}
/* fin de la animacion de cafe */

main {
  background-image: url(assets/images/background1.jpg);
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 2s;
}

#wave {
  z-index: 100;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  box-shadow: inset 0 -2px 0 0 var(--section-color);
}
h2 {
  font-style: normal;
  font-size: 4rem;
  margin-bottom: 25px;
}
h3 {
  font-family: "Satisfy";
  font-style: normal;
  margin-bottom: 25px;
}
p {
  font-size: 1.5rem;
}
main::after {
  content: "";
  /* Crea un pseudo-elemento */
  position: absolute;
  /* Lo posiciona encima de la imagen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  /* Color oscuro semi-transparente */
  mix-blend-mode: multiply;
  /* Mezcla el color de fondo con la imagen */
}

.navbar {
  z-index: 1000;
}

.navbar-nav {
  flex-direction: colum;
  gap: 50px;
  justify-content: end;
}

.navbar-nav .nav-link {
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  /* Cambia el color del texto a blanco */
}
.navbar-nav li {
  text-align: end;
  padding-right: 25px;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; /* Ajusta el espaciado según sea necesario */
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px; /* Ajusta el espaciado según sea necesario */
  right: 0;
  background: red;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
  background: red;
}

.action-call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  font-family: "Raleway", sans-serif;
  width: 50%;
  height: 80%;
  z-index: 100;
  color: white;
  position: relative;
  border-radius: 25px;
}

/* Secciones */
section {
  width: 100%;
  display: flex;
  padding-bottom: 50px;
}
.local-info {
  background-color: var(--section-color);
  color: white;
}
.local-info .container {
  margin-top: 150px;
  margin-bottom: 150px;
}
.local-info .container-polaroid {
  width: 60%;
}
.local-info h2 {
  color: red;
}
.local-info p {
  text-shadow: -1px -1px 0 #000, /* sombra superior izquierda */ 1px -1px 0 #000,
    /* sombra superior derecha */ -1px 1px 0 #000,
    /* sombra inferior izquierda */ 1px 1px 0 #000; /* sombra inferior derecha */
}

.polaroid {
  background: #fff;
  padding: 1rem;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.polaroid > img {
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.2rem;
  text-align: center;
  line-height: 2em;
}
.item:nth-of-type(2n + 1) {
  transform: scale(1, 1);
  transition: all 0.35s;
}
.item:hover {
  filter: none;
  transform: scale(1.1, 1.1) rotate(0deg);
  transition: all 0.4s;
}

/* Productos */
#productos {
  flex-direction: column;
  text-align: center;
}
#productos .separador {
  display: flex;
  justify-content: center;
  align-items: center;
}
#productos .container .line {
  background-color: var(--section-color);
  width: 5px;
  height: 100px;
}

.bt-gallery{
  width: 50%;
  border-radius: 25px;
  background-color: #dba40a;
  height: 50px;
  font-size: 1.5rem;
}
/* ubicaciones */
#ubicacion {
  padding: 20px;
  background-color: var(--section-color);
  flex-direction: column;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

#ubicacion .container {
  width: 80%;
}

#ubicacion h2 {
  text-align: center;
  margin-bottom: 50px;
  color: red;
  font-size: 3.5rem;
}

.location {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.location .map {
  flex: 1 1 300px;
  height: 200px;
}
.location .map iframe {
  width: 100%;
  height: 100%;
}

.location .description {
  flex: 1 1 200px;
}

.location .description h3 {
  margin-top: 0;
  color: #dba40a;
}

.location .description p {
  margin: 5px 0;
  color: #555;
}

@media screen and (min-width: 700px) {
  .local-info .polaroid img {
    width: 300px;
  }
  .products .polaroid img {
    width: 200px;
    margin-bottom: 0px;
  }
  .products .polaroid {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 700px) {
  section {
    text-align: center;
  }
  .local-info {
    flex-direction: column-reverse;
  }
  .local-info .container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .polaroid img {
    width: 100%;
    margin-bottom: 25px;
  }
  .products {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 990px) {
  .navbar {
    position: fixed;
    width: 100%;
    padding: 0;
    background-color: #252524b0;
  }
  .navbar button {
    background-color: var(--section-color);
  }
  .container-fluid {
    padding: 0;
  }
  .action-call {
    height: 100%;
    width: 80%;
  }
}
.pr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.service-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.service-item img {
  width: 100%;
  height: auto;
}

.service-info {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.service-icon {
  font-size: 2rem;
  color: #dba40a;
  margin-right: 15px;
}

.service-info h3 {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  color: #333;
}

.service-info p {
  margin: 0;
  color: #555;
  font-size: 1rem;
  text-align: justify;
}

.footer {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding-bottom: 0;
  background: rgb(174, 0, 1);
  background: linear-gradient(
    0deg,
    rgba(174, 0, 1, 1) 0%,
    rgba(174, 0, 1, 1) 56%,
    rgba(219, 164, 10, 1) 100%
  );
}
footer {
  display: flex;
}

@media screen and (max-width: 760px) {
  footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
